// Base
$rem-base: 16;

//Dimensions
$header-height: 80;
$grid-inset: 80;
$sidebar-width: 240;

// Colors
$primary-color: #c24a00;
$secondary-color: #f1dbad;

$mui-dark-bg: #424242;

// Sizes
$small: 320;
$medium: 450;
$large: 1000;
$extra-large: 1900;
